.projectsContainer {
    padding-bottom: 44px;
    .projectCardsContainer {
        .projectCard {
            display: flex;
            margin-bottom: 30px;
            @media only screen and (max-width: 1024px) {
                flex-direction: column;
            }
            .carouselImg {
                position: relative;
                flex: 3;
                border-radius: 20px;
                overflow: hidden;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px var(--border);
                .projectImage {
                    animation: carouselImgAnim 1s ease-in-out;
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }

                .arrowContainer {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    * {
                        font-size: 40px;
                        color: var(--accent);
                        margin: 0 20px;
                        cursor: pointer;
                        transition: all 0.1s ease-in-out;
                        &:hover {
                            color: var(--accentlight);
                        }
                    }
                }
            }

            .infos {
                flex: 2;
                padding: 16px;
                position: relative;
                @media only screen and (max-width: 1024px) {
                    padding: 16px 16px 80px 16px;
                }
                .projectTitle {
                    margin-bottom: 10px;
                }
                .projectStacks {
                    margin-bottom: 10px;
                    .projectStacksIcon {
                        width: 40px;
                        margin-right: 10px;
                    }

                }
                .linksContainer {
                    position: absolute;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    padding: 16px;
                    align-items: flex-end;
                    :nth-child(1) {
                        margin-right: 20px;
                    }
                    .website , .gh {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            :nth-child(1) {
                                color: var(--accentlight);
                            }
                        }
                        :nth-child(1) {
                            margin-right: 10px;
                            font-size: 30px;
                            color: var(--accent);
                            transition: all 0.2s ease-in-out;
                        }
                        p {
                            margin-top: 5px;  
                        }
                    }
                }
            }
        }

        .separationBar {
            background-color: var(--border);
            width: 90%;

            margin: auto;
            height: 1px;
            margin-bottom: 30px;
        }
    }
}

.rowReverse {
    flex-direction: row-reverse;
}

@keyframes carouselImgAnim {
    0% {
        filter: blur(10px);
        opacity: 0.5;
    }

    50% {
        filter: blur(0);
    }

    100% {
        opacity: 1;
    }
}