header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border) solid 1px;
    position: fixed;
    width: 100%;
    height: 60px;
    nav {
        a {
            color: var(--primary);
            font-weight: 700;
        }
    }
    @media (min-width: 992px) {
        nav {
            display: flex;
            a {
                margin-right: 10px;
            }
        }
      }
    .socialLinksContainer {
        height: 24px;
        :nth-child(1) {
            margin-right: 10px;
        }
    }
}