header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: var(--border) solid 1px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    pointer-events: none;
    * {
        pointer-events: all;
    }
    nav {
        display: flex;
        a {
            font-size: 28px;
            padding: 0 20px;
            color: var(--primary);
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateY(-2px);
                scale: 1.05;
                color: var(--accent);
            }
        }
    }

    .socialLinksContainer {
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 24px;
        *{
            transition: all 0.2s ease-in-out;
            &:hover {
                color: var(--accent);
            }
        }
        :nth-child(1) {
            margin-right: 10px;
        }
    }
}